* {
    margin : 0;
    padding : 0;
}

body{
    text-align: center;
    background:aquamarine;
    
    color: 222;
    margin: 10px;
   
}

h1 {
    color:red;
    padding: 15px;
    text-align: center;
    background-color: aqua;
}

#container {

display: grit;


}


.titulo{
    padding: 25px;

}

h3{
    padding: 25px;
}

img{
    width: 600px;
    height: 600px;
}
li{

    padding: 5px;
    margin: 0;
}

.imagen{
    padding: 25px;
}

.lista{
    padding: 25px;
    display:inline-block;
    text-align: center;
    

}


cite{
    padding: 25px;
}

.pie{
    padding: 25px;
}

b{
    color:rgb(43, 226, 147);
}

